body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /*background: url('./contact-form/bg.png') center center fixed no-repeat;*/
}
.navbar {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    font-size: 20px;
}

#fb_icon:hover {
    color: #3b5998;
    font-size: 23px;
}
#insta_icon:hover {
    color: #fb3958;
    font-size: 23px;
}
#twitter_icon:hover {
    color: #1da1f2;
    font-size: 23px;
}



.image-flip:hover .backside, .image-flip.hover .backside {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
transform: rotateY(0deg);
}
.image-flip:hover .frontside, .image-flip.hover .frontside {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}
.image-flip {
margin-bottom:200px;
width: 300px;
height: 250px;
}
.mainflip {
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-ms-transition: 1s;
-moz-transition: 1s;
-moz-transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: relative;
}
.frontside, .backside {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-moz-transition: 1s;
-moz-transform-style: preserve-3d;
-o-transition: 1s;
-o-transform-style: preserve-3d;
-ms-transition: 1s;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: absolute;
top: 0;
left: 0;
}
.frontside {
-webkit-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
z-index: 2;
}
.backside {
background: white;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
transform: rotateY(-180deg);
}
.card, .card-img-top {
border-radius: 0;
}


.card-header ,h5{
  font-size: 13px;
  font-family: 'Merienda', cursive;

}
.card-text {
    color:  #7300e6;

}

.footer .facebook:hover {
    color: #3b5998;
    font-size: 23px;
}
.footer .instagram:hover {
    color: #fb3958;
    font-size: 23px;
}
.footer .twitter:hover {
    color: #1da1f2;
    font-size: 23px;
}

.footer .facebook {
    
    font-size: 23px;
    margin: 2px;
}
.footer .instagram{
    
    font-size: 23px;
    margin: 2px;
}
.footer .twitter {
  
    font-size: 23px;
    margin: 2px;
}

.card-img-top {

height: 200px;

}
.address {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}