.typewriter {
    font-family: 'Comfortaa', serif;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 35px;
    font-weight: 700;
    border-right: 4px solid #4c83ff;
    box-sizing: border-box;
    height: 50px;
    padding-top: 10px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #4c83ff; 
    }
}
