
html {
    height: 100%;
    box-sizing:border-box;
}

body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    background-color: #040336;
    position: relative;
    margin: 0;
    padding-bottom: 28rem;
    min-height: 100%;
    height: auto;
}

@media(max-width:1000px) {
    body {
        padding-bottom: 50rem;
    }
}

.navbar {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    font-size: 20px;
}

#fb_icon:hover {
    color: #3b5998;
    font-size: 23px;
}
#insta_icon:hover {
    color: #fb3958;
    font-size: 23px;
}
#twitter_icon:hover {
    color: #1da1f2;
    font-size: 23px;
}

/* About us CSS*/

.card-header button {
    font-size: 23px;
}

.card-body {
    font-family: 'Raleway', sans-serif; 
}

.wie__image {
    position: relative;
    widows: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wie__h1 {
    z-index: 2;
    position: absolute;
    font-size: 120px;
    border: 5px solid #fff;
    color: #fff;
    padding: 20px;
}

.wie__h {
    font-size: 50px;
}

.wie__card:hover .card-title i{
    color: #2faadd;
}


.team_tag_1 {
    color: #fff;
    margin: 20px 0 20px 0;
    font-family: 'Baloo Chettan', cursive;
}

.team {
    margin: 0 auto;
}

.social_icons a {
    margin: 5px;
    color: black;
}

.margin-bottom {
    margin-bottom: 30px;
}

.address {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

#topBtn {
    display: none;
    color: rgb(52, 50, 161);
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index:99;
    border:none;
    outline:none;
    cursor: pointer;
    background:transparent;
}

@media(max-width: 1000px) {
    .wie__h1 {
        font-size: 70px;
    }
    .wie__h {
        font-size: 30px;
    }
    .wie__card, .team_teachers {
        margin-bottom: 20px;
    }
    #topBtn {
        font-size: 12px;
        bottom: 10px;
        right: 5px;
    }
}
@media(max-width: 600px) {
    .wie__h1 {
        font-size: 40px;
    }
    .wie__h {
        font-size: 20px;
    }
}
@media(max-width: 420px) {
    .wie__h1 {
        font-size: 30px;
    }
    .wie__h {
        font-size: 10px;
    }
}

